body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

.responsive-svg-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}

svg {
    width: 100%;
    height: auto;
}