body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    color: #222;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 25px;
}

#filters_screen {
    margin-bottom: 20px;
}

#filters_screen button {
    padding: 8px 16px;
    margin-right: 8px;

    border: 1px solid #999;
    background-color: white;

    cursor: pointer;
}

#filters_screen button.active {
    background-color: steelblue;
    color: white;
}