.responsive-svg-container {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.responsive-svg-container svg {
    width: 100%;
    height: auto;
    display: block;
}

.axis text {
    font-size: 14px;
}

.axis-label {
    font-size: 16px;
}